In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import train_test_split

In [4]:
dataset = pd.read_csv(r"D:\\DataScience\\seaborn-data-master\\tip.csv")

dataset.head(3)

   Age  Experience  Salary
0   50         107   45000
1   36          69   50000
2   29          94   60000

In [6]:
x=dataset.iloc[:,:-1]
y=dataset["Experience"]

In [7]:
new_data= dataset.head(10)

In [9]:
x_new=new_data.iloc[:,:-1]
y_new=new_data["Experience"]

In [8]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [10]:
lo=LeaveOneOut()
for train,test in lo.split(x,y):
    print(train,test)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15] [0]
[ 0  2  3  4  5  6  7  8  9 10 11 12 13 14 15] [1]
[ 0  1  3  4  5  6  7  8  9 10 11 12 13 14 15] [2]
[ 0  1  2  4  5  6  7  8  9 10 11 12 13 14 15] [3]
[ 0  1  2  3  5  6  7  8  9 10 11 12 13 14 15] [4]
[ 0  1  2  3  4  6  7  8  9 10 11 12 13 14 15] [5]
[ 0  1  2  3  4  5  7  8  9 10 11 12 13 14 15] [6]
[ 0  1  2  3  4  5  6  8  9 10 11 12 13 14 15] [7]
[ 0  1  2  3  4  5  6  7  9 10 11 12 13 14 15] [8]
[ 0  1  2  3  4  5  6  7  8 10 11 12 13 14 15] [9]
[ 0  1  2  3  4  5  6  7  8  9 11 12 13 14 15] [10]
[ 0  1  2  3  4  5  6  7  8  9 10 12 13 14 15] [11]
[ 0  1  2  3  4  5  6  7  8  9 10 11 13 14 15] [12]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 14 15] [13]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 15] [14]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14] [15]

In [11]:
lo=LeavePOut(p=2)
for train,test in lo.split(x,y):
    print(train,test)

[ 2  3  4  5  6  7  8  9 10 11 12 13 14 15] [0 1]
[ 1  3  4  5  6  7  8  9 10 11 12 13 14 15] [0 2]
[ 1  2  4  5  6  7  8  9 10 11 12 13 14 15] [0 3]
[ 1  2  3  5  6  7  8  9 10 11 12 13 14 15] [0 4]
[ 1  2  3  4  6  7  8  9 10 11 12 13 14 15] [0 5]
[ 1  2  3  4  5  7  8  9 10 11 12 13 14 15] [0 6]
[ 1  2  3  4  5  6  8  9 10 11 12 13 14 15] [0 7]
[ 1  2  3  4  5  6  7  9 10 11 12 13 14 15] [0 8]
[ 1  2  3  4  5  6  7  8 10 11 12 13 14 15] [0 9]
[ 1  2  3  4  5  6  7  8  9 11 12 13 14 15] [ 0 10]
[ 1  2  3  4  5  6  7  8  9 10 12 13 14 15] [ 0 11]
[ 1  2  3  4  5  6  7  8  9 10 11 13 14 15] [ 0 12]
[ 1  2  3  4  5  6  7  8  9 10 11 12 14 15] [ 0 13]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 15] [ 0 14]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14] [ 0 15]
[ 0  3  4  5  6  7  8  9 10 11 12 13 14 15] [1 2]
[ 0  2  4  5  6  7  8  9 10 11 12 13 14 15] [1 3]
[ 0  2  3  5  6  7  8  9 10 11 12 13 14 15] [1 4]
[ 0  2  3  4  6  7  8  9 10 11 12 13 14 15] [1 5]
[ 0  2  3  4  5  7  8  9 10 11 12 13 14 15] [1 6]
[ 0  2  3  4  5  6  8  9 10 11 12 13 14 15] [1 7]
[ 0  2  3  4  5  6  7  9 10 11 12 13 14 15] [1 8]
[ 0  2  3  4  5  6  7  8 10 11 12 13 14 15] [1 9]
[ 0  2  3  4  5  6  7  8  9 11 12 13 14 15] [ 1 10]
[ 0  2  3  4  5  6  7  8  9 10 12 13 14 15] [ 1 11]
[ 0  2  3  4  5  6  7  8  9 10 11 13 14 15] [ 1 12]
[ 0  2  3  4  5  6  7  8  9 10 11 12 14 15] [ 1 13]
[ 0  2  3  4  5  6  7  8  9 10 11 12 13 15] [ 1 14]
[ 0  2  3  4  5  6  7  8  9 10 11 12 13 14] [ 1 15]
[ 0  1  4  5  6  7  8  9 10 11 12 13 14 15] [2 3]
[ 0  1  3  5  6  7  8  9 10 11 12 13 14 15] [2 4]
[ 0  1  3  4  6  7  8  9 10 11 12 13 14 15] [2 5]
[ 0  1  3  4  5  7  8  9 10 11 12 13 14 15] [2 6]
[ 0  1  3  4  5  6  8  9 10 11 12 13 14 15] [2 7]
[ 0  1  3  4  5  6  7  9 10 11 12 13 14 15] [2 8]
[ 0  1  3  4  5  6  7  8 10 11 12 13 14 15] [2 9]
[ 0  1  3  4  5  6  7  8  9 11 12 13 14 15] [ 2 10]
[ 0  1  3  4  5  6  7  8  9 10 12 13 14 15] [ 2 11]
[ 0  1  3  4  5  6  7  8  9 10 11 13 14 15] [ 2 12]
[ 0  1  3  4  5  6  7  8  9 10 11 12 14 15] [ 2 13]
[ 0  1  3  4  5  6  7  8  9 10 11 12 13 15] [ 2 14]
[ 0  1  3  4  5  6  7  8  9 10 11 12 13 14] [ 2 15]
[ 0  1  2  5  6  7  8  9 10 11 12 13 14 15] [3 4]
[ 0  1  2  4  6  7  8  9 10 11 12 13 14 15] [3 5]
[ 0  1  2  4  5  7  8  9 10 11 12 13 14 15] [3 6]
[ 0  1  2  4  5  6  8  9 10 11 12 13 14 15] [3 7]
[ 0  1  2  4  5  6  7  9 10 11 12 13 14 15] [3 8]
[ 0  1  2  4  5  6  7  8 10 11 12 13 14 15] [3 9]
[ 0  1  2  4  5  6  7  8  9 11 12 13 14 15] [ 3 10]
[ 0  1  2  4  5  6  7  8  9 10 12 13 14 15] [ 3 11]
[ 0  1  2  4  5  6  7  8  9 10 11 13 14 15] [ 3 12]
[ 0  1  2  4  5  6  7  8  9 10 11 12 14 15] [ 3 13]
[ 0  1  2  4  5  6  7  8  9 10 11 12 13 15] [ 3 14]
[ 0  1  2  4  5  6  7  8  9 10 11 12 13 14] [ 3 15]
[ 0  1  2  3  6  7  8  9 10 11 12 13 14 15] [4 5]
[ 0  1  2  3  5  7  8  9 10 11 12 13 14 15] [4 6]
[ 0  1  2  3  5  6  8  9 10 11 12 13 14 15] [4 7]
[ 0  1  2  3  5  6  7  9 10 11 12 13 14 15] [4 8]
[ 0  1  2  3  5  6  7  8 10 11 12 13 14 15] [4 9]
[ 0  1  2  3  5  6  7  8  9 11 12 13 14 15] [ 4 10]
[ 0  1  2  3  5  6  7  8  9 10 12 13 14 15] [ 4 11]
[ 0  1  2  3  5  6  7  8  9 10 11 13 14 15] [ 4 12]
[ 0  1  2  3  5  6  7  8  9 10 11 12 14 15] [ 4 13]
[ 0  1  2  3  5  6  7  8  9 10 11 12 13 15] [ 4 14]
[ 0  1  2  3  5  6  7  8  9 10 11 12 13 14] [ 4 15]
[ 0  1  2  3  4  7  8  9 10 11 12 13 14 15] [5 6]
[ 0  1  2  3  4  6  8  9 10 11 12 13 14 15] [5 7]
[ 0  1  2  3  4  6  7  9 10 11 12 13 14 15] [5 8]
[ 0  1  2  3  4  6  7  8 10 11 12 13 14 15] [5 9]
[ 0  1  2  3  4  6  7  8  9 11 12 13 14 15] [ 5 10]
[ 0  1  2  3  4  6  7  8  9 10 12 13 14 15] [ 5 11]
[ 0  1  2  3  4  6  7  8  9 10 11 13 14 15] [ 5 12]
[ 0  1  2  3  4  6  7  8  9 10 11 12 14 15] [ 5 13]
[ 0  1  2  3  4  6  7  8  9 10 11 12 13 15] [ 5 14]
[ 0  1  2  3  4  6  7  8  9 10 11 12 13 14] [ 5 15]
[ 0  1  2  3  4  5  8  9 10 11 12 13 14 15] [6 7]
[ 0  1  2  3  4  5  7  9 10 11 12 13 14 15] [6 8]
[ 0  1  2  3  4  5  7  8 10 11 12 13 14 15] [6 9]
[ 0  1  2  3  4  5  7  8  9 11 12 13 14 15] [ 6 10]
[ 0  1  2  3  4  5  7  8  9 10 12 13 14 15] [ 6 11]
[ 0  1  2  3  4  5  7  8  9 10 11 13 14 15] [ 6 12]
[ 0  1  2  3  4  5  7  8  9 10 11 12 14 15] [ 6 13]
[ 0  1  2  3  4  5  7  8  9 10 11 12 13 15] [ 6 14]
[ 0  1  2  3  4  5  7  8  9 10 11 12 13 14] [ 6 15]
[ 0  1  2  3  4  5  6  9 10 11 12 13 14 15] [7 8]
[ 0  1  2  3  4  5  6  8 10 11 12 13 14 15] [7 9]
[ 0  1  2  3  4  5  6  8  9 11 12 13 14 15] [ 7 10]
[ 0  1  2  3  4  5  6  8  9 10 12 13 14 15] [ 7 11]
[ 0  1  2  3  4  5  6  8  9 10 11 13 14 15] [ 7 12]
[ 0  1  2  3  4  5  6  8  9 10 11 12 14 15] [ 7 13]
[ 0  1  2  3  4  5  6  8  9 10 11 12 13 15] [ 7 14]
[ 0  1  2  3  4  5  6  8  9 10 11 12 13 14] [ 7 15]
[ 0  1  2  3  4  5  6  7 10 11 12 13 14 15] [8 9]
[ 0  1  2  3  4  5  6  7  9 11 12 13 14 15] [ 8 10]
[ 0  1  2  3  4  5  6  7  9 10 12 13 14 15] [ 8 11]
[ 0  1  2  3  4  5  6  7  9 10 11 13 14 15] [ 8 12]
[ 0  1  2  3  4  5  6  7  9 10 11 12 14 15] [ 8 13]
[ 0  1  2  3  4  5  6  7  9 10 11 12 13 15] [ 8 14]
[ 0  1  2  3  4  5  6  7  9 10 11 12 13 14] [ 8 15]
[ 0  1  2  3  4  5  6  7  8 11 12 13 14 15] [ 9 10]
[ 0  1  2  3  4  5  6  7  8 10 12 13 14 15] [ 9 11]
[ 0  1  2  3  4  5  6  7  8 10 11 13 14 15] [ 9 12]
[ 0  1  2  3  4  5  6  7  8 10 11 12 14 15] [ 9 13]
[ 0  1  2  3  4  5  6  7  8 10 11 12 13 15] [ 9 14]
[ 0  1  2  3  4  5  6  7  8 10 11 12 13 14] [ 9 15]
[ 0  1  2  3  4  5  6  7  8  9 12 13 14 15] [10 11]
[ 0  1  2  3  4  5  6  7  8  9 11 13 14 15] [10 12]
[ 0  1  2  3  4  5  6  7  8  9 11 12 14 15] [10 13]
[ 0  1  2  3  4  5  6  7  8  9 11 12 13 15] [10 14]
[ 0  1  2  3  4  5  6  7  8  9 11 12 13 14] [10 15]
[ 0  1  2  3  4  5  6  7  8  9 10 13 14 15] [11 12]
[ 0  1  2  3  4  5  6  7  8  9 10 12 14 15] [11 13]
[ 0  1  2  3  4  5  6  7  8  9 10 12 13 15] [11 14]
[ 0  1  2  3  4  5  6  7  8  9 10 12 13 14] [11 15]
[ 0  1  2  3  4  5  6  7  8  9 10 11 14 15] [12 13]
[ 0  1  2  3  4  5  6  7  8  9 10 11 13 15] [12 14]
[ 0  1  2  3  4  5  6  7  8  9 10 11 13 14] [12 15]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 15] [13 14]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 14] [13 15]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13] [14 15]

In [12]:
lo=KFold(n_splits=5)
for train,test in lo.split(x,y):
    print(train,test)

[ 4  5  6  7  8  9 10 11 12 13 14 15] [0 1 2 3]
[ 0  1  2  3  7  8  9 10 11 12 13 14 15] [4 5 6]
[ 0  1  2  3  4  5  6 10 11 12 13 14 15] [7 8 9]
[ 0  1  2  3  4  5  6  7  8  9 13 14 15] [10 11 12]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12] [13 14 15]

In [ ]:
# lo=StratifiedKFold(n_splits=5)                      #works in classification analysis
# for train,test in lo.split(x,y):
#     print(train,test)

In [ ]:
#For Check Accuracy

In [13]:
dataset = pd.read_csv(r"D:\\DataScience\\seaborn-data-master\\tip.csv")

dataset.head(3)

   Age  Experience  Salary
0   50         107   45000
1   36          69   50000
2   29          94   60000

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
from sklearn.model_selection import cross_val_score

In [20]:
p=cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=10))
p

c:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
c:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
c:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
c:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

array([ 1.,  1.,  1.,  1.,  1.,  1., nan, nan, nan, nan])

In [19]:
p.sort()
p*100

array([100., 100., 100., 100., 100.])