In [5]:
import pandas as pd

In [6]:
dataset = pd.read_csv("D:\\DataScience\\seaborn-data-master\\tips.csv")
dataset.head(3)

   total_bill   tip  Gender  smoker  day  time  size
0       16.99  1.01       0       0    0     0     2
1       10.34  1.66       0       0    0     0     3
2       21.01  3.50       0       0    0     0     3

In [7]:
input_data= dataset.iloc[:,:-1]
output_data=dataset["tip"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test= train_test_split(input_data,output_data,test_size=0.25)

In [10]:
x_test

     total_bill   tip  Gender  smoker  day  time
2         21.01  3.50       0       0    0     0
223       15.98  3.00       0       0    0     0
225       16.27  2.50       0       0    0     0
159       16.49  2.00       0       0    0     0
39        31.27  5.00       0       0    0     0
..          ...   ...     ...     ...  ...   ...
153       24.55  2.00       0       0    0     0
94        22.75  3.25       0       0    0     0
73        25.28  5.00       0       0    0     0
69        15.01  2.09       0       0    0     0
67         3.07  1.00       0       0    0     0

[61 rows x 6 columns]

In [11]:
x_train

     total_bill   tip  Gender  smoker  day  time
82        10.07  1.83       0       0    0     0
108       18.24  3.76       0       0    0     0
229       22.12  2.88       0       0    0     0
146       18.64  1.36       0       0    0     0
83        32.68  5.00       0       0    0     0
..          ...   ...     ...     ...  ...   ...
193       15.48  2.02       0       0    0     0
47        32.40  6.00       0       0    0     0
139       13.16  2.75       0       0    0     0
32        15.06  3.00       0       0    0     0
30         9.55  1.45       0       0    0     0

[183 rows x 6 columns]

In [12]:
y_test

2      3.50
223    3.00
225    2.50
159    2.00
39     5.00
       ...
153    2.00
94     3.25
73     5.00
69     2.09
67     1.00
Name: tip, Length: 61, dtype: float64

In [13]:
y_train

82     1.83
108    3.76
229    2.88
146    1.36
83     5.00
       ...
193    2.02
47     6.00
139    2.75
32     3.00
30     1.45
Name: tip, Length: 183, dtype: float64

In [14]:
dataset.shape

(244, 7)

In [15]:
x_train.shape,y_train.shape

((183, 6), (183,))

In [16]:
x_test.shape,y_test.shape

((61, 6), (61,))