In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"D:\\DataScience\\seaborn-data-master\\loan_data.csv")
dataset.head(3)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737.0,5639.958333,28854.0,52.1,0.0,0.0,0.0,0.0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707.0,2760.000000,33623.0,76.7,0.0,0.0,0.0,0.0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682.0,4710.000000,3511.0,25.6,1.0,0.0,0.0,0.0

In [3]:
dataset.duplicated()
#In this data don't have duplicate data so not giving 'True'

0       False
1       False
2       False
3       False
4       False
        ...
9573    False
9574    False
9575    False
9576    False
9577    False
Length: 9578, dtype: bool

In [4]:
dataset.shape

(9578, 14)

In [5]:
dataset.drop_duplicates(inplace=True)

In [6]:
dataset.shape

(9578, 14)